body {
    padding: 20px 20px;
    background-color: rgb(248, 248, 248);
}

h4.title {
    color: #007BFF;
    margin: 40px 0 20px 0;
}

#page-admin {
    margin: 50px 0;
    min-height: 100px;
    border: 1px solid gray;
}

a:hover {
    font-weight: bold;
}

a#btn-dang-xuat {
    display: block;
    text-align: center;
    line-height: 100%;
}

#thong-tin-dang-nhap {
    text-align: center;
}

#ten-dang-nhap {
    color: Green;
}

.table-danh-sach {
    width: 100%;
}

.table-danh-sach td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.table-danh-sach tr:nth-child(even) {
    background-color: #dddddd;
}

.btn-thao-tac {
    margin: 1px 0;
    width: 100%;
}

.btn-xoaNguoiDung {
    font-size: 10px;
    width: 100%;
}

#page-admin .ket-qua {
    color: white;
    text-align: center;
}

#page-admin .ket-qua .thanh-cong {
    background-color: #218838;
    width: 100%;
}

#page-admin .ket-qua .khong-thanh-cong {
    background-color: #DC3545;
    width: 100%;
}